body {
    background: rgb(33, 81, 238);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

div{
    text-align: center;
}

p {
    text-align: justify;
}

p#rodape {
    text-align: center;
}

input {
    color: white;
    padding: 50px;
    font-size: xx-large;
    background-color: rgb(255, 94, 0);
}

input:hover {
    background-color: rgb(255, 116, 36);
}

section {
    background-color: cornsilk;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301)
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}